.user-avatar {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-profile-img {
    width: 100% !important;
    height: 100% !important;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-upload-label {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camera-icon {
    color: white;
    font-size: 18px;
}
